body {
    margin: 0;
    overflow-x: hidden; /* Evita scroll horizontal no deseado */
    font-family: sans-serif; /* Define una fuente base */
}

#bienvenida {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #b6d7eb, #5ebbf5);
    align-items: center;
    overflow: hidden;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#aura {
    position: absolute;
    top:3vw;
    left: 0;
    pointer-events: none; /* Para que no interfiera con los clics */
}

.sun {
    position: absolute;
    width: 600px;
    height: 600px;
    bottom: -13%;
    left: 50%;
    transform: translateX(-50%);
}

.sun circle {
    r: 0;
}

.cloud {
    position: absolute;
}

#cloud-svg-1 {
    top: 5%;
    width: 350px;
    transform: translateY(0%);
}

#cloud-svg-2 {
    width: 200px;
    height: auto;
    top: 43%;
    transform: translateY(0%);
}

#cloud-svg-3 {
    width: 250px;
    height: auto;
    top: 20%;
    transform: translateY(0%);
}

#cloud-svg-4 {
    width: 332px;
    height: auto;
    top: 28%;
    transform: translateY(0%);
}

.grass-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    max-height: 400px;
    overflow: hidden;
}

.grass {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0;
}

.layer5 {
    bottom: clamp(-150px, -9vw, -10px);;
    z-index: 5;
}

.layer4 {
    bottom: clamp(-230px, -13vw, 80px);
    z-index: 4;
}

.layer3 {
    bottom: clamp(-200px, -12vw, 80px);
    z-index: 3;
}

.layer2 {
    bottom: clamp(-200px, -12vw, 80px);
    z-index: 2;
}

.layer1 {
    bottom: clamp(-200px, -14vw, 80px);
    z-index: 1;
}

.company-logo {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%) scale(0); /* Inicialmente en el centro, oculto y sin tamaño */
    opacity: 0;  /*Inicialmente invisible */
    z-index: 10; /* Asegurarse de que esté por encima de otros elementos como el pasto y el sol */
    width: 200px; /* Tamaño base del logo, ajustable */
    height: auto; /* Mantener la proporción */
}

.welcome-text {
    position: absolute;
    top: 65%; /* Ajusta la posición para que quede debajo del logo */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #4a3e2e; /* Un color cálido para el texto */
    font-family: 'YourChosenFont', sans-serif; /* Usa tu fuente preferida */
    opacity: 0; /* Inicialmente invisible */
    z-index: 11;
}

.welcome-text h1 {
    font-size: 2.5em; /* Tamaño del título, ajustable */
    margin-bottom: 10px;
}

.welcome-text p {
    font-size: 1.2em; /* Tamaño del subtítulo, ajustable */
}
