body {
    margin: 0;
    overflow-x: hidden; /* Evita scroll horizontal no deseado */
    font-family: sans-serif; /* Define una fuente base */
}

#bienvenida {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #b6d7eb, #5ebbf5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;;
}

.sun {
    position: absolute;
    width: 600px;
    height: 600px;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
}

.sun circle {
    r: 0;
}

.cloud {
    position: absolute;
    /* opacity: 0; */
}

#cloud-svg-1 {
    top: 5%;
    /* left: -20%; */
    width: 350px;
    transform: translateY(0%);
}

#cloud-svg-2 {
    width: 200px;
    height: auto;
    top: 43%;
    transform: translateY(0%);
}

#cloud-svg-3 {
    width: 250px;
    height: auto;
    top: 20%;
    transform: translateY(0%);
}

#cloud-svg-4 {
    width: 332px;
    height: auto;
    top: 28%;
    transform: translateY(0%);
}

.grass-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; /* Ajusta esta altura para que las capas de pasto quepan bien */
    overflow: hidden; /* Importante para que las capas no se vean antes de su animación */
    display: flex; /* Usamos flex para apilar las capas desde abajo */
    flex-direction: column-reverse; /* Esto hará que layer5 quede abajo y layer1 arriba visualmente */
    justify-content: flex-start; /* Alinea los elementos en la parte inferior del contenedor */
    align-items: center;
}

.grass {
    position: absolute; /* Para poder controlar su posición individualmente */
    width: 100%; /* Las capas de pasto ocuparán todo el ancho */
    height: auto; /* Mantener la proporción */
    object-fit: cover;
    transform: translateY(100%); /* Inicia completamente fuera de la vista por debajo */
    opacity: 0; /* Inicia invisible */
    /* Cada capa tendrá su propio 'bottom' y 'z-index' */
}

.layer5 {
    bottom: 0; /* Más cerca del borde inferior */
    z-index: 5;
    width: 110vw; /* Ligeramente más ancho para efecto parallax si lo añades más tarde */
}

.layer4 {
    bottom: 5%; /* Un poco más arriba que la capa 5 */
    z-index: 4;
    width: 105vw;
}

.layer3 {
    bottom: 10%; /* Y así sucesivamente */
    z-index: 3;
    width: 100vw;
}

.layer2 {
    bottom: 15%;
    z-index: 2;
    width: 95vw;
}

.layer1 {
    bottom: 20%; /* La más alta en el horizonte */
    z-index: 1;
    width: 90vw;
}
